<!DOCTYPE html>
<html lang="pl_PL">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap 101 Template</title>
<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>
<body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


<nav class="navbar navbar-default" role="navigation">
	<div class="container"> 

	 	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

	 		<% if user_signed_in? %>
 
 			<% if can? :update, current_user %>

				<ul class="nav navbar-nav">
					<li><a href="#"><%= link_to "Lista kluczy", room_keys_path, :class => 'navbar-link' %></a></li>
					<li ><a href="#"></a></li>
					<li ><a href="#"><%= link_to "Lista sal", rooms_path, :class => 'navbar-link' %></a></li>
					<li ><a href="#"></a></li>
					<li ><a href="#"><%= link_to "Lista pracowników", employees_path, :class => 'navbar-link' %></a></li>
					<li ><a href="#"></a></li>
					<li ><a href="#"><%= link_to "Lista użytkowników", users_path, :class => 'navbar-link' %></a></li>
					<li ><a href="#"></a></li>
					<li ><a href="#"><%= link_to "Pobrania", take_keys_path, :class => 'navbar-link' %></a></li>
					<li ><a href="#"></a></li>
					<li ><a href="#"><%= link_to "Typ sali", types_path, :class => 'navbar-link' %></a></li>
				</ul>	

 				<ul class="nav navbar-nav navbar-right">
 				<li><a href="#"><%= link_to "Profil", show_profile_users_path, :class => 'navbar-link' %></a></li>
				<li><a href="#"><%= link_to "Wyloguj", destroy_user_session_path, method: :delete, :class => 'navbar-link' %></a></li>
				</ul>

 			<% end %>
 	
			<% else %>
				<ul class="nav navbar-nav navbar-right">
				
 				<li><a href="#"><%= link_to "Zaloguj", new_user_session_path, :class => 'navbar-link' %></a></li>

				</ul>
			<% end %>
		</div>
</div>
</nav>
<div class="continer">
	<div class="row">
		<div class="col-md-8 col-md-offset-2"><%= yield %></div>
	</div>
	
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>
</html>
