<!DOCTYPE html>
<html>
<head>
  <title>Szlachta</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

	<div class="row" style="background-color:yellow;">

	<p class="navbar-text pull-right">
		<% if user_signed_in? %>
 
 		<% if can? :update, current_user %>
 			<%= link_to "Profil", show_profile_users_path, :class => 'navbar-link' %> 
 			<% end %>
 			<%= link_to "Wyloguj", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
 			
 			<%= link_to "Lista użytkowników", users_path, :class => 'navbar-link' %>
 			<%= link_to "Lista pracowników", employees_path, :class => 'navbar-link' %>
 			<%= link_to "Lista sal", rooms_path, :class => 'navbar-link' %>
 			<%= link_to "Lista kluczy", room_keys_path, :class => 'navbar-link' %>
			<% else %>
 			<%= link_to "Zaloguj", new_user_session_path, :class => 'navbar-link' %>
		<% end %>
	</p>
	</div>
</div>
<div class="continer">
	<div class="row">
		<div class="span9"><%= yield %></div>
		<div class="span3">
			<h2>no czesc</h2>
		</div>
	</div>
	
</div>

</body>
</html>
