<p id="notice"><%= notice %></p>

<h1>Lista uzytkownikow</h1>

<table>
   <thead>
     <tr>
       <th>Email</th>
       <th>Admin</th>
     </tr>
   </thead>

 <tbody>
   <% @users.each do |user| %>
     <tr>
       <td><%= user.email %></td>
       <td><%= user.admin? %></td>
      <td><%= link_to 'Edycja', edit_user_path(user), class: "button radius" %></td>
        <td><%= link_to 'Usuń', user_path(user), class: "button radius", method: :delete, data: { confirm: 'Czy jestes pewien?' } %></td>
     </tr>
   <% end %>
 </tbody>
</table>

<% if can? :create, :user %>
 <%= link_to 'Nowy użytkownik', new_user_path, class: "button radius" %>
<% end %>
<br>