<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin? %>
</p>

<%= link_to 'Zmiana hasła',change_users_password_user_path , :class => 'btn btn-primary'%>
<%= link_to 'Edytuj', edit_user_path(@user), :class => 'btn btn-primary' %> |
<%= link_to 'Cofnij', users_path, :class => 'btn btn-primary' %>
